body {
  background-color: #FEF5E9;
}

h1 {
  color: #8C3C2A;
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
  margin-bottom:-20px;
}

h2 {
  color: #D29698;
  font-family: 'Shrikhand', cursive;
}

p {
  font-family:'Roboto Condensed', sans-serif;
  line-height: 80%;
}

#container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
	  border-bottom: 1px solid #CEE1F2;
}

#nav a:link, #nav a:visited {
  display: block;
  color: white;
  background-color: #93B3BF;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  background-color: #626E73;
}


.joke {
  font-family: 'Playfair Display SC', serif;
  font-size: 25px;
  line-height: 30%;
  color: #8C3C2A;
}

#old a:link {
  color: #93B3BF;
  text-decoration: none;
}

#old a:visited {
  color: #626E73;
  text-decoration: underline;
}

#old a:hover {
  color: #626E73;
  text-decoration: underline;
}


.footer {
    font-size: 0.8em;
    border-top: 1px solid black;
    text-align: right;
}

img {
  border: none;
}
