body {
  background-color: #FEF5E9;
}

h1 {
  color: #8E3322;
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
  line-height: 20%;
}

h2 {
  color: #DB9086;
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-size: 30px;
}

p {
  font-family:'Roboto Condensed', sans-serif;
  line-height: 80%;
  text-align: center;
}

#container {
    margin: 0 auto;
    padding: 0;
}

.header {
  height: 70px;
  background-color: #CDDBE7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header h1 {
  padding: 0px 10px;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#nav li {
  list-style-type: none;
  height: 70px;
  margin-top: -17px;
  display: flex;
  align-items: center;
}

#nav li:hover {
  background-color: #93B3BF;
}

#nav a {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
}


.joke {
  font-family: 'Playfair Display SC', serif;
  font-size: 25px;
  line-height: 30%;
  color: #8C3C2A;
  margin-top: 10px;
}

#oldindex a:link, a:visited {
  text-decoration: none;
  color: #CDDBE7;
}

#oldindex a:hover {
  color: #93B3BF;
  text-decoration: underline;
}

.footer {
    font-size: 0.8em;
    border-top: 1px solid black;
    text-align: right;
}

img {
  border: none;
  margin-bottom: 20px;
}
